<!DOCTYPE html>
<html>
<head>
  <title>Flightbooker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless flash.empty? %>
	<% flash.each do |message_type, message| %>
		<p><%= message %></p>
	<% end %>
<% end %>

<%= yield %>

</body>
</html>
